
@{
    ViewBag.Title = "YeniEkle";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<h1>Yeni Kategori Ekleme</h1>
<form method="post">
    <br />
    <label>Kategori Ad</label>
    <input type="text" class="form-control" name="ad" placeholder="Kategori Ad" />
    <button class="btn btn-info" style="margin-top:10px">Ekle</button>
</form>

